﻿/* Styl całego ciala strony */
body {
    background-color: black;
}

/* Styl nagłówka strony */
header {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 70px;
    text-align: center;
}

/* Styl sekcji na stronie */
section {
    float: left;
    width: 100%;
    height: auto;
    background-color: grey;
}

/* Styl akapitu w sekcji */
section p {
    text-align: center;
}

.left-half {
    width: 50%;
    float: left;
}

.right-half {
    width: 50%;
    float: right;
}

/* Styl kontenera z id "description" */
#description {
    font-size: 30px;
    text-align: center;
    color: greenyellow;
}

/* Styl przycisku */
#button-timer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Styl tabeli z id "times-table" */
#times-table {
    width: 90%;
    background-color: darkgray;
}

/* Styl komórek w tabeli z id "times-table" */
#times-table th, #times-table td {
    border: 1px solid white;
    text-align: left;
    padding: 15px;
}

